@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-1000px);
    }
    50% {
        transform: translateX(-2000px);
    }
    75% {
        transform: translateX(-3000px);
    }
    100% {
        transform: translateX(0);
    }
}
*{
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    background-color: #d9d5d5;;
}
.header{
    height: 50px;
    background-color: white;
    border: 1px solid rgb(192, 184, 184);
}
.header .wrapper{
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    line-height: 50px;
}
.logo{
    width: 100px;
    height: 45px;
}
.logo img{
    width: 100%;
    height: auto;
    margin-top: 5px;
}
.box0{
    margin-left: 80px;
    display: flex;
    gap:80px;
}
a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: larger;
}
.search input{
    outline: none;
    width: 150px;
    height: 25px;
    border: 2px solid red;
    position: relative;
}
.search::after{
    position: absolute;
    top: 15px;
    content: "";
    width: 80px;
    height: 25px;
    background-image: url(./微信图片_20251109004651_64_14.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.img{
    margin-top:5px;
    width: 40px;
    height: 40px;
}
.img img{
    width: 100%;
    height: auto;
}
button{
    width: 80px;
    height: 30px;
    background-color: rgb(46, 149, 111);
    color: white;
    border: 1px solid transparent;
}
.banner{
    width: 1000px;
    height: 300px;
    margin-top: 20px;
    overflow: hidden;
}
.scroll{
    animation: scroll-left 10s  1s  infinite;
    display: flex; 
    width: 4000px;
}
.banner .wrapper{
    width: 1000px;
    height: 300px;
}
.banner img {
    width: 100%;
    height: auto;
    margin-bottom: 0;
}
.body1{
    width: 1000px;
    height: 450px;
    background-color: white;
    margin-top: 0px;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    display: flex;
    justify-content: space-between;
}
.box{
    margin-top: 30px ;
}
.c1{
    width: 120px;
    height: 120px;
    border: 2px solid rgb(78, 175, 78);
    border-radius: 50%;
    text-align: center;
    line-height: 120px;
    font-size: 50px;
    font-weight: 20;
    color: rgb(78, 175, 78);
}
ul{
    border-right: 1px solid rgb(192, 184, 184);
    text-align: left;
    margin-top: 40px;
}
.none{
    border: none;
}
.a{
    font-size: 1em;
}
.b{
    font-size: 1em;
    font-weight: 150;
}
.red{
    color: rgb(255, 0, 0);
}
.c{
    width: 40px;
    height: 40px;
    border:1px solid rgb(78, 175, 78) ;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 60px;
    font-weight: 100;
    color: rgb(78, 175, 78);
    margin-top: 30px;
}
a:hover{
    /* outline: none; */
    color: rgb(249, 6, 6);
}
.body2{
    width: 1000px;
    height: 450px;
    background-color: white;
    margin-top: 20px;
    padding-top: 40px;
}
.header1{
    text-align: center;
    font-size: 1.5em;
}
.header2
{
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.2em;
    color: rgb(15, 200, 141);
}
.box1{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5,170px);
    grid-template-rows: repeat(2,110px);
    gap: 0px;
    width: 850px;
    height: 220px;
    text-align: center;
    margin: 0 auto;
}
.green-border{
    width: 170px;
    height: 110px;
    padding:25px 10px;
    border: 2px solid rgb(15, 200, 141);
}
.line3{
    transform: translate(-2px,-2px);
}
.line1{
    transform: translateX(-4px);
}
.line4{
    transform: translate(-6px,-2px);
}
.line2{
    transform: translateX(-8px);
}
.white{
    width: 170px;
    height: 110px;
    font-size: 40px;
    color: rgb(243, 21, 21);
    padding: 25px 10px;
}
.inner{
    border-bottom: 2px solid rgb(243, 21, 21);
}
.green-border:hover{
    outline: none;
    width: 170px;
    height: 110px;
    background-color: rgb(15, 200, 141);
    color: white;
}
.footer{
    width: 1000px;
    height: 450px;
    background-color: white;
    margin-top: 20px;
    /* padding-bottom: 20px; */
    padding-top: 40px;
}
.box2{
    width: 800px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.class1{
    width: 200px;
    height: 100px;
    background-color: rgba(241, 119, 119, 0.884);
    padding: 30px 10px;
    div{
        color: white;
        text-align: center;
    }
    a {
        color: white;
        text-align: center;
    }
}
.class1:hover{
    outline: none;
    background-color: rgb(243, 21, 21);
}
.cat{
    position: relative;
}
.cat::before{
    content: "";
    width: 200px;
    height: 100px;
    background-image: url(./微信图片_20251109010546_65_14.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top:-65px;
}